.project {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.87);
  padding: 100px 0;
  min-height: 100vh;
}

.sect3t h2,
.sect3t h3,
.sect3t h4 {
  color: rgb(92, 92, 92);
}

.mobile {
  display: none;
}

.bigLink {
  text-decoration: none;
  background: none;
  border: 2px solid #08ce8c;
  border-radius: 5px;
  padding: 5px 10px;
}

@media only screen and (max-width: 768px) {
  .mobileIframeRemover {
    display: none;
  }
  .mobile {
    display: inline;
  }
}
