.me {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
  background: rgba(255, 255, 255, 0.87);
}

.skills p {
  font-size: 110%;
  margin: 2px;
}
.prog-cont {
  display: flex;
  flex-wrap: wrap;
}

.me img {
  opacity: 0.9;
}

.smol {
  font-size: 100%;
  margin: 2px;
}
