.Start {
  width: 100vw;
  margin: auto;
  padding-left: 8%;
  height: 100vh;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;

  transition: all 0.2 ease;

  background-color: rgba(255, 255, 255, 0.404);
}

.smallLogos {
  padding-right: 10px;
  height: 59px;
}

.smallLogos:hover {
  opacity: 0.8;
}

.bigTitle {
  font-size: 500%;

  font-weight: bold;
  margin: 0;
  margin-left: -5px;
}

.Start h3 {
  margin: 10px 0;
}

/*Small screens*/
@media only screen and (max-width: 768px) {
  .Start {
    font-size: 70%;
  }

  .titleTitle {
    display: none;
  }
}
