.Gallery {
  width: 100vw;
  min-height: 100vh;
  background: rgba(255, 255, 255, 0.87);
  padding: 120px 120px;
}

@media only screen and (max-width: 768px) {
  .Gallery {
    padding: 100px 10px;
  }
}
