@font-face {
  font-family: Alata;
  src: local("Alata"), url("fonts/Alata-Regular.ttf");
}

@font-face {
  font-family: OpenSans;
  src: local("OpenSans"), url("fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: OpenSansLight;
  src: local("OpenSans"), url("fonts/OpenSans-Light.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, OpenSansLight, "Segoe UI",
    "OpenSansLight", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Text */
p,
a {
  font-size: 22px;
}

h1,
h2,
h3 {
  font-family: Alata;
  margin: 20px 0;
}
h4,
h5 {
  font-family: Alata;
}

/* Background */
.App {
  background-image: url("asset/fukuokabanner.jpg");
  background-size: cover;
  background-attachment: fixed;
  color: rgb(18, 18, 18);
  background-repeat: no-repeat;
}

/* For the About and Project pages */
.narrow {
  margin-left: 10px;
  margin-right: 10px;
}

@media only screen and (min-width: 768px) {
  .narrow {
    width: 60%;
    margin: auto;
  }
}

.divider {
  background-color: rgba(194, 194, 194, 0.466);
  height: 2px;
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  body {
    font-size: 100%;
  }

  .mainTitle,
  .mainTitleB,
  .mainText {
    font-size: 300%;
    margin: 0;
  }

  .narrow {
    max-width: 90%;
  }
}
