.navbar {
  font-family: OpenSans;
  /*display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;*/
  left: 0;
  z-index: 100;
  height: 100px;
  width: 100vw;
  position: fixed;
  top: 0;

  background-color: rgb(255, 255, 255);
  transition: ease-in-out 0.15s;
}

.right-nav {
  position: absolute;
  right: 150px;
}
.left-nav {
  position: absolute;
  left: 100px;
  display: flex;
  flex-wrap: wrap;
}

.navbar img {
  height: 50px;
  margin-right: 20px;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(8, 206, 140);
  /*text-decoration: underline;
  text-underline-offset: 10px;*/
}

.aActive {
  color: rgb(8, 206, 140);
}

.topnavElement {
  font-size: 125%;
  margin: 0 20px;
  text-decoration: none;
}

.titleHelper {
  font-family: Alata;
  font-size: 150%;
  margin-right: 5px;
}

.titleTitle {
  font-family: Alata;
  font-size: 150%;
  margin: auto;
  opacity: 0.55;
}

.hidemobile {
  display: inline;
}

@media only screen and (max-width: 768px) {
  .right-nav {
    position: absolute;
    right: 10px;
  }
  .left-nav {
    position: absolute;
    left: 10px;
  }
  .navbar {
    font-size: 85%;
  }
  .topnavElement {
    font-size: 125%;
    font-weight: bold;
    margin: 0 10px;
    text-decoration: none;
  }
  .hidemobile {
    display: none;
  }
}
